.banner{
    background-image: linear-gradient(0deg, rgb(9, 9, 9) 3.482%,rgba(16, 16, 16, 0) 101.632%), url('./images/Banner\ Image.png');
    height: 600px;
    width: 1320px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 50px 10px 100px;
    border-radius: 20px;
}
.banner-container{
  width: 700px;
  height: 400px;
  /* background-color: antiquewhite; */
}
.banner .banner-container .subtitle{
    color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 900;
text-align: center;

}
.banner .banner-container .title{
    color: rgb(255, 255, 255);
font-size: 95px;
font-weight: 900;
line-height: 80px;
line-height: 120px;
text-align: center;
}

.banner2{
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 50px 10px 100px;
    width: 1320px;
   
}
.banner2 .banner2-title1{
    color: rgb(255, 0, 0);
font-size: 88px;
font-weight: 700;
letter-spacing: 0%;
text-align: center;
}
.banner2 .banner2-title2{
    color: rgb(255, 0, 0);
font-size: 24px;
font-weight: 500;
text-align: center;
}
.banner2 .banner2-title-3{
    color: rgb(7, 2, 17);
font-size: 48px;
font-weight: 700;
text-align: center;
}

.banner3{
    background-image: linear-gradient(0deg, rgb(9, 9, 9) 3.482%,rgba(16, 16, 16, 0) 101.632%), url('./images/Vectorrr.png');
    height: 600px;
    width: 1320px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 50px 10px 100px;
    background-size: cover;
    border-radius: 20px;
   
}

.image{  
    width: 250px;
    height: 350px;
    background-size: cover;
    opacity: 0.75;
    /* background-color: antiquewhite; */
}
.ban3-title{
    display: flex;
    display: block;
    margin-right: 300px;
    height: 400px;
    width: 600px;
    /* background-color: aliceblue; */
}
.ban3-title1{
    line-height: 70px;
    font-size: 50px;
    color: white;

}
.ban3-sub-title{
    font-size: large;
    line-height: 26px;
    opacity: 0.7;
    color: white;
}
.ban3-btn{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: 2px beige solid;
    background: none;
    color: white;
    font-weight: bold;
}
/* banner4 */
.banner4{
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    height: 600px;
    width: 1320px;
    margin: 60px 50px 10px 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ban4-contain{
    width: 949px;
    height: 268px;
    /* background-color: aqua; */
    margin: 100px 370px 200px 370px;
    
   
}

.ban4-title1{
   margin-left: 140px;
   font-size: 35px;
   font-weight: 800;
}
.ban4-title2{
    margin-left: 90px;
    line-height: 2px;
    font-size: 35px;
   font-weight: 800;
}
.red{
    color: red;
}
.ban4-title3{
    margin-left: 40px;
    font-size: 35px;
   font-weight: 800;
}
.ban4-btn-container{
    text-align: center;
    /* background-color: red; */
    margin-left: 55px;
}
.ban4-btn{
    border-radius: 8px;
    background: rgb(255, 0, 0);
    height: 56px;
    width: 160px;
    color: white;
    font-weight: 900;
}
/* banner5 */
.banner5{
    /* background-color: antiquewhite; */
    height: 380px;
    width: 1320px;
    margin: 60px 50px 10px 100px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items:center;
    /* justify-content: space-around; */
    justify-content: space-evenly;
}
.div1{
    width: 290px;
    height: 255px;
    /* background-color: aliceblue; */
}
.div2{
    width: 463px;
    height: 363px;
}
.div3{
    width: 236px;
    height: 270px;
    /* background-color: aqua; */
}
/* banner6 */
.banner-6-head{
    width: 460px;
    height: 260px;
    /* background-color: aqua; */
    margin: 60px 50px 0px 550px;
    border-radius: 20px;
    text-align: center;
    line-height: 13px;
    margin-top: 60px;
}
.banner6{
    width: 1400px;
    height: 562.07px;
    margin: 0px 50px 10px 100px;
    /* background-color: aqua; */
    /* display: flex; */
    /* display: block; */
   

}
.img1{
    background-image: url('./images/Rectangle\ 2.png');
    height: 200px;
    width: 1400px;
    position: relative;
    top: 359px;
}
.img2{
    background-image: url('./images/Group\ 75.png');
    width: 796.46px;
    height: 562.07px;
    position: relative;
    left: 0px;
    bottom: 200px;
}
.img3{
    background-image: url('./images/Group\ 44.png');
    width: 305.69px;
    height: 305.69px;
    position: relative;
    left: 900px;
    bottom: 700px;
}

